<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/saplogohr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompatTheme"
        tools:targetApi="31">
        <activity
            android:name=".fragments_and_activities.FrontPage"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments_and_activities.BeforeLogin"/>
        <activity android:name=".fragments_and_activities.LoginActivity"/>
        <activity android:name=".fragments_and_activities.AdminPanel"/>
        <activity android:name=".HomeController"/>
        <activity android:name=".fragments_and_activities.SingleCourseDetails"/>
        <activity android:name=".upload.UploadScreen"/>
        <activity android:name=".fragments_and_activities.ShowNews"/>
    </application>

</manifest>